header{
    background-color: #fd7e14;
}
body {
    margin : 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

label{
    vertical-align: top;
}

.form-control{
    outline: none;
}

textarea{
    resize : none;
    width: 500px;
    height: 500px;
}

.postFrom{
    display: table;
    margin: 20px 100px;
}

label, text, textarea {
    padding : 10px;
}

.formRow{
    display: table-row;
}

.submitButton{
    width:100%;
}

div{
    margin: auto;
}

input{
    width:100%;
}

table{
    margin:auto;
    text-align: left;
}