{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap-5.1.1-dist/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="mt-5 postFrom col-2 " style="display: flex;text-align: center;margin: auto">
        <form action="/post" method="POST" class="form-control">
            <div class="formRow">
                <label for="author">Author: </label>
                <input name="author" type="text" placeholder="Author...">
            </div>
            <div class="formRow">
                <label for="text">Text: </label>
                <textarea name="text"></textarea>
            </div>
            <div class="formRow" style="text-align: center">
                <input type="submit" value="post!" class="btn btn-success">
            </div>
        </form>
    </div>
{% endblock %}