{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap-5.1.1-dist/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <form class="form-control" method="post" action="/signup">
        <h1 style="text-align: center">SignUp</h1>
        <table style="text-align: left">
            <tr>
                <td><label for="name">Name: </label></td>
                <td><input type="text" name="name" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="username">Username: </label></td>
                <td><input type="text" name="username" class="form-control"></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <spin>
                        {{ erorr }}
                    </spin>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SignUp" class="btn btn-info"></td>
            </tr>
        </table>
    </form>
{% endblock %}